.dialogsMessagesContainer{
     padding: 0px 10% 20px 10%;
     display: flex;
}
.dialogsContainer{
     width: 50%;
     height: 80vh;
     background-color: white;
     border-radius: 25px 0px 0px 25px ;
     -webkit-border-radius: 25px 0px 0px 25px ;
     -moz-border-radius: 25px 0px 0px 25px ;
     -ms-border-radius: 25px 0px 0px 25px ;
     -o-border-radius: 25px 0px 0px 25px ;
     overflow-y: scroll;
}
.dialogsContainer::-webkit-scrollbar{
     display: none;
}

.dialogs{
     padding: 20px;
     width: auto;
     height: auto;
}


