
.description{
  margin-left: 2%;
}
.description p{
  margin-bottom: 10px;
}
.avatarContainer{
  width: 25%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  align-self: baseline;
}
.avatar{
  width: 100%;
  height: auto;
}
.avatarProfileDerscription{
  padding: 20px 20px 0px 20px;
  border-radius: 25px 25px 0px 0px;
}
.avatarDescription{
    display: flex;
}
.nameAndStatus{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.nameAndStatus{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.userName{
  margin-bottom: 0px;
}
.newPost{
  font-size: 1.5rem;
}
.newPostBlock{
  padding: 20px;
  border-radius: 0px 0px 25px 25px;
  -webkit-border-radius: 0px 0px 25px 25px;
  -moz-border-radius: 0px 0px 25px 25px;
  -ms-border-radius: 0px 0px 25px 25px;
  -o-border-radius: 0px 0px 25px 25px;
}
.newPostInput{
  width: 80%;
  height: 120px;
  border-radius: 10px;
  border: 2px solid #4339c2;
}
.newPostSend{
  width: 100px;
  height: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 0px;
  font-size: 15px;
  background: black;
  cursor: pointer;
}
.newPostSend:active{
  color: white;
  background-color: #4339c2;
}
.lookingForAJobBlockChecked{
  border-radius: 5px;
  background: #b3ffb3;
  padding: 10px;
}
.lookingForAJobBlockCenceled{
  border-radius: 5px;
  background: #f8b654;
  padding: 10px;
}
/* .lookingForAJobBlock{
  display: flex;
} */
.lookingForAJobIndicator{
  width: 16px;
  margin-left: 3px;
  cursor: pointer;
}

