.profileContainer{
  width: auto;
  height: auto;
  margin: 0% 2% 20px 2%;
  background-color: white;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
