/* HEADER */
header{
  width: auto;
  height: auto;
  grid-area: header;
}
.headerTopBar{
  width: auto;
  height: auto;
  background-color: black;
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  width: 55px;
  height: 55px;
}
.imgDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  /* background: linear-gradient(0deg, rgba(62,34,195,1) 0%, rgba(253,45,117,1) 100%); */
}
.imgDiv p{
 font-size: 60px;
 font-family: Poppins;
 color: white;
 font-weight: 800;
 letter-spacing: 15px;
 margin: 0% 2% 20px 2%;
}

@media screen and (max-width: 560px){

}
