.messagesContainer{
     width: 100%;
     height: 80vh;
     display: flex;
     flex-direction: column;
     background-color: #ffffff8f;
     border-radius:  0px 25px 25px 0px  ;
     -webkit-border-radius:  0px 25px 25px 0px  ;
     -moz-border-radius:  0px 25px 25px 0px  ;
     -ms-border-radius:  0px 25px 25px 0px  ;
     -o-border-radius:  0px 25px 25px 0px  ;
}

.messages{
     width: 97%;
     height: 100%;
     overflow-y: scroll;
     padding: 10px;
}
.messages::-webkit-scrollbar{
     display: none;
}
.writeMessage{
     display: flex;
     justify-content: space-between;
     width: 100%;
}
.chatTextarea{
     width: 85%;
     border: 0px;
     border-radius: 0px 25px 0px 0px;
     -webkit-border-radius: 0px 25px 0px 0px;
     -moz-border-radius: 0px 25px 0px 0px;
     -ms-border-radius: 0px 25px 0px 0px;
     -o-border-radius: 0px 25px 0px 0px;
     resize: none;
     background-color: #ffffffb8;
     font-family: 'Open Sans';
     transition: 0.3s;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -ms-transition: 0.3s;
     -o-transition: 0.3s;
     padding-left: 5px;
     padding-top: 4px;
     font-size: 14px;
}
.chatTextarea:focus{
     background-color: white;
     transition: 0.3s;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -ms-transition: 0.3s;
     -o-transition: 0.3s;
}

.sendMessage{
     width: 60px;
     height: 60px;
     border: 0;
     border-radius: 50%;
     margin-right: 25px;
     cursor: pointer;
}