body{
  background-color: #edf1f5;
  font-family: 'Poppins';
}
textarea:focus,input:focus,button:focus{
  outline: none;
}
p{
  margin: 0px;
}
a{
  text-decoration: none;
  color: black;
  padding: 5px;
}
a:hover{
  text-decoration: none;
}

.App {
  text-align: center;
}

.app-wrapper{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr ;
  column-gap:30px;
  grid-template-areas: 
  "header "
  "main";
}








/* ANIMATIONS */
.logoRotation{
  animation: 5s linear 0s normal none infinite running logoRotation;
  -webkit-animation: 5s linear 0s normal none infinite running logoRotation;
}

@keyframes logoRotation{
  0%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

}

/* ______ */

/* MEDIA QUERIES */
@media all and (max-width:560px){
  .nav-list{
    width: auto;
  }
}

/* ______ */