html{
  overflow-y: scroll;
}
body{
  background: linear-gradient(260deg, rgba(62,34,195,1) 0%, rgba(253,45,117,1) 100%);
  background-size: 400% 400%;
  font-family: 'Open Sans', sans-serif;
  animation: gradientAnim 30s ease infinite;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,300;1,400;1,800&display=swap');

textarea:focus,input:focus,button:focus{
  outline: none;
}
p{
  margin: 0px;
}
a{
  text-decoration: none;
  outline: none;
  /* color: black; */
  padding: 5px;
}
a:hover{
  text-decoration: none;
}

.App {
  text-align: center;
}

.app-wrapper{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr ;
  column-gap:30px;
  grid-template-areas: 
  "header "
  "main";
}

/* ANIMATIONS */
/* .logoRotation{
  animation: 5s linear 0s normal none infinite running logoRotation;
  -webkit-animation: 5s linear 0s normal none infinite running logoRotation;
} */
/* 
@keyframes gradientAnim {
  0%{background-position:0% 91%}
  50%{background-position:100% 10%}
  100%{background-position:0% 91%}
} */

.show{
  animation: show 0.2s;
  -webkit-animation: show 0.2s;
 }
 @keyframes show{
   0%{
     opacity: 0;
   }
   100%{
     opacity: 1;
   }
 }
.hide{
  animation: hide 0.2s;
  -webkit-animation: hide 0.2s;
}
 @keyframes hide{
   0%{
     opacity: 1;
   }
   100%{
     opacity: 0;
   }
 }
.hideAndNone{
  display: none;
  animation: hide 0.1s;
  -webkit-animation: hide 0.1s;
}

/* ______ */

/* MEDIA QUERIES */
@media all and (max-width:560px){
  .nav-list{
    width: auto;
  }
}

/* ______ */